

    <div class="btn-group mt-3 col-6 mx-auto" role="group" aria-label="Button group">
        <button class="btn btn-success col" [routerLink]="['/users','form']" type="button">Add usuário</button>    
        <button class="btn btn-info col" [routerLink]="['/buscaDetalhada']" type="button">Busca detalhada</button>    
    </div>

    <div class="col">
        
        <table class="table table-light mt-3 table-striped">
            <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Contatos</th>
                        <th>Opções</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: paginationOpts.perPage, currentPage: paginationOpts.page, totalItems: paginationOpts.totalUsers }">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.contatos.length }} contatos cadastrados</td>
                    <td>
                        <button class="btn btn-sm btn-info pointer" [routerLink]="['/users','form', user._id]">Editar</button> | 
                        <button class="btn btn-sm btn-danger pointer" (click)="removeUser(user._id)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="col-12 text-center">
            <pagination-controls 
            (pageChange)="fetchUsers($event)"
            directionLinks="true"
            autoHide="true"
            responsive="true"
            previousLabel="Anterior"
            nextLabel="Próxima"
            ></pagination-controls>
        </div>
    </div>