<div class="col-3 mx-auto">
    
    <h3 class="text-center col mt-5">
        Login
    </h3>

    <div class="row mt-2">
        <div class="col-12">
            <input class="form-control p-2 col-12 " type="email" [(ngModel)]="email">
            <input class="form-control p-2 col-12 mt-2" type="password" [(ngModel)]="password">
        </div>
    </div>
    
    <div class="row mt-2">
        <div class="col">
            
            <div class="alert alert-warning col-12 mt-3" role="alert" *ngIf="showError">
                <strong>Atenção!!</strong>Verifique seu email e senha 
            </div>
    
            <div class="alert alert-success  col-12 mt-3" role="alert" *ngIf="showSuccess">
                <strong>Uhull!!</strong>Login efetuado com sucesso 
            </div>
            
            <button type="button" class="btn btn-primary col mt-2" (click)='logar()' >Entrar</button>
        </div>
    </div>
</div>