<div class="col-3 mx-auto">
    
    <h3 class="text-center col mt-5">
        Login
    </h3>

    <div class="row mt-2">
        <input class="form-control" type="email" [(ngModel)]="email">
        <input class="form-control mt-2" type="password" [(ngModel)]="password">

        <div class="alert alert-warning col-12 mt-3" role="alert" *ngIf="showError">
          <strong>Atenção!!</strong>Verifique seu email e senha 
        </div>
       
        <div class="alert alert-success  col-12 mt-3" role="alert" *ngIf="showSuccess">
          <strong>Uhull!!</strong>Login efetuado com sucesso 
        </div>

        <button type="button" class="btn btn-primary col mt-3" (click)='logar()' >Entrar</button>
    </div>
</div>